# environment variables must start with VITE_

# use environment variables in the app with import.meta.env.{name_of_env_variable}
# eg.: const serverBaseUrl = import.meta.env.VITE_SERVER_BASE_URL;

VITE_SERVER_BASE_URL='http://localhost:3000/api'
VITE_GOOGLE_CLIENT_ID='Your google client id'